doctype transitional
html
  head
    title {:options.title} @ More Than Sport
    link(rel="stylesheet", type="text/css", href="assets://css/main.css")
  body
    h1 Page header

    | <:jolt placeholder="content" />

    theme:embed(file="includes/footer")

    | <:jolt placeholder="scripts" />
