include ../includes/sidebar

theme:template(title="Media Gallery", name="_project")
  content
    //@IF :get.id
    .media-gallery(:load=":api(3.0).content({:get.id}) as graphic")
      .featured-media#lightbox: .container
        .gallery-nav.prev: i.fa.fa-angle-left
        .gallery-nav.next: i.fa.fa-angle-right
        .item-container
          img(src='{graphic.relationships(image,attachments).first.photo-url}')
        .item-container
          img(src='{graphic.relationships(image,attachments).first.photo-url}')
        .meta
          h2 {graphic.content.title}
          .pull-right: .share
            .share-flyout
              ul
                li: a(href='https://www.facebook.com/dialog/feed?app_id=347159378788273&display=popup&href=http://www.savethestorks.com/gallery?id={graphic.id}&redirect_uri=http://www.savethestorks.com/gallery?id={graphic.id}&caption={graphic.content.title}&picture={:e.url.link([graphic.relationships(image,attachments).first.photo-url])}', class='facebook-share popup'): i.fa.fa-facebook
                li: a(href='http://twitter.com/home?status={graphic.content.title} - www.savethestorks.com?gallery={graphic.id}', class='twitter-share popup'): i.fa.fa-twitter
            a(href='#', class='btn btn-green', style='line-height: 0;')
              i.fa.fa-share-square-o
              |  Share
    //@ELSEIF :get.view == 'graphics' || :get.view == 'images'
    .media-gallery(:load=":api(3.0).content(site.media-gallery) as gallery")
      .featured-media#lightbox(:load="gallery.relationships([:get.view]).random() as graphic", data-id="{graphic.id}"): .container
        .gallery-nav.prev: i.fa.fa-angle-left
        .gallery-nav.next: i.fa.fa-angle-right
        .item-container
          img(src='{graphic.relationships(image,attachments).first.photo-url}')
        .meta
          h2 {graphic.content.title}
          .pull-right: .share
            .share-flyout
              ul
                li: a(href='https://www.facebook.com/dialog/feed?app_id=347159378788273&display=popup&href=http://www.savethestorks.com/gallery?id={graphic.id}&redirect_uri=http://www.savethestorks.com/gallery?id={graphic.id}&caption={graphic.content.title}&picture={:e.url.link([graphic.relationships(image,attachments).first.photo-url])}', class='facebook-share popup'): i.fa.fa-facebook
                li: a(href='http://twitter.com/home?status={graphic.content.title} - www.savethestorks.com?gallery={graphic.id}', class='twitter-share popup'): i.fa.fa-twitter
            a(href='#', class='btn btn-green', style='line-height: 0;')
              i.fa.fa-share-square-o
              |  Share
    //@ELSEIF :get.view == 'videos'
    .media-gallery(:load=":api(3.0).content(site.media-gallery) as gallery")
      .featured-media#lightbox(:load="gallery.relationships([:get.view]).random() as graphic", data-id="{graphic.id}"): .container
        .gallery-nav.prev: i.fa.fa-angle-left
        .gallery-nav.next: i.fa.fa-angle-right
        .item-container
          {graphic.content.source}
        .meta
          h2 {graphic.content.title}
          .pull-right: .share
            .share-flyout
              ul
                li: a(href='https://www.facebook.com/dialog/feed?app_id=347159378788273&display=popup&href=http://www.savethestorks.com/gallery?id={graphic.id}&redirect_uri=http://www.savethestorks.com/gallery?id={graphic.id}&caption={graphic.content.title}&picture={:e.url.link([graphic.relationships(image,attachments).first.photo-url])}', class='facebook-share popup'): i.fa.fa-facebook
                li: a(href='http://twitter.com/home?status={graphic.content.title} - www.savethestorks.com?gallery={graphic.id}', class='twitter-share popup'): i.fa.fa-twitter
            a(href='#', class='btn btn-green', style='line-height: 0;')
              i.fa.fa-share-square-o
              |  Share
    //@ELSE  
    .media-gallery(:load=":api(3.0).content(site.media-gallery) as gallery")
      .featured-media#lightbox(:load="gallery.relationships(graphics).random() as graphic", data-id="{graphic.id}"): .container
        .gallery-nav.prev: i.fa.fa-angle-left
        .gallery-nav.next: i.fa.fa-angle-right
        .item-container
          img(src='{graphic.relationships(image,attachments).first.photo-url}')
        .meta
          h2 {graphic.content.title}
          .pull-right: .share
            .share-flyout
              ul
                li: a(href='https://www.facebook.com/dialog/feed?app_id=347159378788273&display=popup&href=http://www.savethestorks.com/gallery?id={graphic.id}&redirect_uri=http://www.savethestorks.com/gallery?id={graphic.id}&caption={graphic.content.title}&picture={:e.url.link([graphic.relationships(image,attachments).first.photo-url])}', class='facebook-share popup'): i.fa.fa-facebook
                li: a(href='http://twitter.com/home?status={graphic.content.title} - www.savethestorks.com?gallery={graphic.id}', class='twitter-share popup'): i.fa.fa-twitter
            a(href='#', class='btn btn-green', style='line-height: 0;')
              i.fa.fa-share-square-o
              |  Share
    //@ENDIF
    .media-gallery: .container
      //@IF :get.view == 'graphics'
      .sectionThree
        .header
          h3.align-left.tr-up All Shareable Graphics
            .pull-right: small: a(href='/gallery') Go Back
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(graphics) as graphic", :iterate="self")
            .item(data-name="{graphic.content.title}", data-src="{graphic.relationships(image,attachments).first.photo-url}", data-id="{graphic.id}")
              .thumbnail: img(src="{graphic.relationships(image,attachments).first.photo-url}")
              .item-footer: p {graphic.content.title|limitstring(15,...)}
      //@ELSEIF :get.view == 'images'
      .sectionThree
        .header
          h3.align-left.tr-up All Stork Bus Photos
            .pull-right: small: a(href='/gallery') Go Back
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(images) as image", :iterate="self")
            .item(data-name="{image.content.title}", data-src="{image.relationships(image,attachments).first.photo-url}", data-id="{image.id}")
              .thumbnail: img(src="{image.relationships(image,attachments).first.photo-url}")
              .item-footer: p {image.content.title|limitstring(15,...)}
      //@ELSEIF :get.view == 'videos'
      .sectionThree
        .header
          h3.align-left.tr-up All Videos
            .pull-right: small: a(href='/gallery') Go Back
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(videos) as video", :iterate="self").limit
            .item(data-name="{video.content.title}", data-video=true)
              .thumbnail: img(src="{video.relationships(thumbnail,attachments).first.photo-url}", data-id="{video.id}")
              .item-footer: p {video.content.title|limitstring(15,...)}
              .video-source.hide {video.content.source} 
      //@ELSE
      .sectionThree
        .header
          h3.align-left.tr-up Shareable Graphics
            .pull-right: small: a(href='/gallery?view=graphics') View All Graphics
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(graphics) as graphic", :iterate="self").limit
            .item(data-name="{graphic.content.title}", data-src="{graphic.relationships(image,attachments).first.photo-url}", data-id='{graphic.id}')
              .thumbnail: img(src="{graphic.relationships(image,attachments).first.photo-url}")
              .item-footer: p {graphic.content.title|limitstring(15,...)}
      .sectionThree
        .header
          h3.align-left.tr-up(style='margin-top: 0;') Stork Bus Photos
            .pull-right: small: a(href='/gallery?view=images') View All Photos
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(images) as image", :iterate="self").limit
            .item(data-name="{image.content.title}", data-src="{image.relationships(image,attachments).first.photo-url}", data-id='{image.id}')
              .thumbnail: img(src="{image.relationships(image,attachments).first.photo-url}")
              .item-footer: p {image.content.title|limitstring(15,...)}
      .sectionThree
        .header
          h3.align-left.tr-up(style='margin-top: 0;') Videos
            .pull-right: small: a(href='/gallery?view=videos') View All Videos
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.media-gallery).relationships(videos) as video", :iterate="self").limit
            .item(data-name="{video.content.title}", data-video=true, data-id='{video.id}')
              .thumbnail: img(src="{video.relationships(thumbnail,attachments).first.photo-url}")
              .item-footer: p {video.content.title|limitstring(15,...)}
              .video-source.hide {video.content.source}
      .sectionThree
        .header
          h3.align-left.tr-up Paintings
            //- .pull-right: small: a(href='/gallery?view=graphics') View All Graphics
        .row.columns
          .col.width-20(:load=":api(3.0).content(site.paintings).relationships(painting) as painting", :iterate="self")
            a(href="/paintings-new?painting={painting.id}"): .item
              .thumbnail: img(src="{painting.relationships(image,attachments).first.photo-url}")
              .item-footer: p {painting.content.name|limitstring(30,...)}
    //@ENDIF
    .overlay
    theme:embed(file="includes/side-nav")