//- include ../includes/sidebar

theme:template(title="Donate", name="_landing", :load=":api(3.0).content(site/coffee-landing) as landing")
  content
    section.one: .container
      h1 {landing.content.title}
      p {landing.content.subtitle}
    section.main: .container: .row
      .col.width-50
        h1 {landing.content.supportingtitle}
        img(src='{landing.relationships(image,attachments).first.version()}', width='100%')
        {landing.content.content}
      .col.width-50
        form(action="/api/3.0/form-completions", role="form", method="post", id="conversation")
          | <:module slug="messages-display" namespace="signup-form" />
          | <input type="hidden" name="--namespace" value="signup-form" />
          | <input type="hidden" name="--failure" value="/stork-coffee-landing-page?err=1" />
          | <input type="hidden" name="--form" value="Stork Coffee Landing Page" />
          | <input type="hidden" name="--success" value="/stork-coffee-landing-page?err=none" />
          | <input type="hidden" name="--conversation" value="message" />
          input(type='hidden', name='contact[tags]', value='new-signup')
          //@IF :get.err == 'none'
          h1 Thanks for getting in touch!
          //@ELSE
          h1 {landing.content.formtitle}
          .form-group
            label Email Address*
            input(type='text', name='contact[email]', required)
          .form-group
            label First Name*
            input(type='text', name='contact[firstName]', required)
          .form-group
            label Last Name*
            input(type='text', name='contact[lastName]', required)
          .form-group
            label Phone Number*
            input(type='text', name='contact[phone]', required)
          .form-group
            label Church Name*
            input(type='text', required, id='church')
          .form-group
            label Your Position*
            input(type='text', required, id='position')
          input(type='hidden', name='message')
          button(type='submit', class='submit') Submit
          //@ENDIF