include ../../includes/sidebar

theme:template(title="Take Action", name="_project")
  content
    #action.consulting.table(:load=":api(3.0).content(site/take-action) as page")
      div.banner(style='background-image: url({page.relationships(internimage,attachments).first.version(,)});')
        h1 
          strong Take Action&nbsp;
          |To Save Lives
          p.small Together we can build a movement!
        //@IF !:get.thanks
        form(class='inline-form' action='/api/3.0/contacts/', method='post')
          input(type='hidden', name='type', value='individual')
          input(type='hidden', name='--success', value='/my-storks/sign-up?step=2')
          input(type='hidden', name='--failure', value='/my-storks/sign-up?step=1')
          input(type='hidden', name='--namespace', value='signUp')
          input(type='hidden', name='--login', value='true')
          input(type='hidden', name='tags', value='new-signup')
          |<:module slug="messages-display" namespace="signUp" />
          .form-group
            input(type='text', name='firstName', placeholder='First Name')
          .form-group
            input(type='text', name='email', placeholder='Email Address (We promise never to spam you!)', id='email')
          .form-group
            button(type='submit', class='button success') Join Now
        //@ENDIF
        .tabs
          a(href='/join-the-movement') Join The Movement
          a(href='/join-the-movement/donate') Donate
          a(href='/join-the-movement/advocate') Advocate
          a(href='/join-the-movement/volunteer') Volunteer
          a(href='/join-the-movement/intern', class='active') Intern
          a(href='/join-the-movement/join') Join Our Team
      .container.thin
        {page.content.intern}
        a(href='{page.content.internbutton.href}', class='btn btn-green', style='line-height: 32px; padding: 0 25px; font-size: 14px;') {page.content.internbutton.text}
      //@IF :get.thanks
      .thanks(:load=":api(3.0).contacts(me) as user")
        .modal(style='display: inline'): .container
          i.icon-icon_61751
          small Thank You for your pledge,
          h1 {user.first_name}
        .overlay(style='display: inline')
      //@ENDIF
              
      theme:embed(file="includes/side-nav")

