body.signUp header
	background #FFF
.video__floating
	background rgb(230, 130, 110)
	background rgba(230, 130, 110, 0.9)
	bottom 0
	color #FFF
	left 0
	@media (max-width: 500px)
		padding 15px 5px
	@media (min-width: 501px)
		padding 15px 0 10px
	position fixed
	right 0
	text-align center
	z-index 1
	span.unique
		color #FFF
		display inline-block
		font-size 12px
		font-weight 600
		text-transform uppercase
		clearfix()
		.playIcon
			background #FFF
			cursor pointer
			border-radius 50%
			display inline-block
			float left
			height 40px
			width 40px
			position relative
			transition all 0.3s ease
			@media (max-width: 500px)
				display none
			&:hover
				background darken(#FFF, 10%)
			&:after
				content ""
				display block
				width 0
				height 0
				border-style solid
				border-width 8px 0 8px 13px
				border-color transparent transparent transparent rgba(50,50,50,1)
				position absolute
				left 50%
				top 50%
				margin-left -4px
				margin-top -8px
		p
			display inline-block
			float left
			margin 13px 10px 0
.video-wrapper
	margin 10px
	position: relative
	padding-bottom: 56.25%
	padding-top: 25px
	height: 0
	z-index 1
	&.nullify
		&:after, &:before
			display none
	&:after, &:before
		content ""
		position absolute
		width 60px
		height 60px
		z-index 0
	&:after
		border-bottom 4px solid #E66477
		border-right 4px solid #E66477
		bottom -10px
		right -10px
	&:before
		border-left 4px solid #E66477
		border-top 4px solid #E66477
		left -10px
		top -10px
.video-wrapper iframe 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
// Completed Projects Mobile header
header#completedProjects
	background-size cover
	h1.pull-left
		margin 0
		padding-left 0
		@media (max-width: 849px)
			float left
			text-align left
			padding-right 0
		a
			clearfix()
	@media (max-width: 849px)
		.pull-right
			float right
	#menuToggle
		background transparent
		text-align right
		@media (max-width: 849px)
			width auto
	.content
		@media (max-width: 768px)
			margin 30px 0
		h1
			text-transform uppercase
			@media (min-width: 769px)
				font-size 56px
			@media (max-width: 768px)
				font-size 32px
			margin-bottom 0
			small
				color #8D8D8D
				clear both
				display block
				@media (min-width: 769px)
					font-size 26px
				@media (max-width: 768px)
					font-size 18px
				font-weight 300
				text-transform initial
.home
	.notMap
		background #f1f5f6
		color #313436
		text-align center
		position relative
		padding 80px 0 95px 
		h1
			font-size 35px
			font-weight 100
			text-transform capitalize
		p
			font-size 22px
			font-weight 100
			margin-top 5px
		&:after
			position absolute
			bottom 0
			content ""
			left 0
			right 0
			height 15px
			background-image url('../images/gradient.gif')
			background-repeat repeat
		
	header,.mapSection,.bannerTwo,.bannerThree,.bannerFour
		display block
		height 100%
		width 100%
	.inline-form
		.form-group, input
			display inline-block
			margin-right 10px
			vertical-align middle
			@media (max-width: 768px)
				margin-bottom 5px
				width 100%
		@media (min-width: 769px)
			input#email
				min-width 320px
		::placeholder
			font-size 16px
		a.button.success
			display inline-block
			margin-top 40px
			width auto
			padding 5px 25px 5px 60px
			position relative
			height auto
			.playIcon
				background transparent
				border 2px solid #FFF
				cursor pointer
				border-radius 50%
				display inline-block
				float left
				height 30px
				width 30px
				position absolute
				left 20px
				top 10px
				transition all 0.3s ease
				@media (max-width: 500px)
					display none
				&:after
					content ""
					display block
					width 0
					height 0
					border-style solid
					border-width 6px 0 6px 11px
					border-color transparent transparent transparent #FFF
					position absolute
					left 50%
					top 50%
					margin-left -4px
					margin-top -7px
		button, a.button
			background #59C77F
			border 0
			color #FFF
			cursor pointer
			font-size 16px
			padding 0 25px
			text-transform uppercase
			transition all 0.3s ease
			&:hover
				background darken(#59C77F, 10%)
			@media (max-width: 768px)
				width 100%
	header
		.nav
			clearfix()
			clear both
		background url('../images/createBackground.png') no-repeat right center
		background-size cover
		@media (min-width: 769px)
			min-height 100vh
		@media (max-height: 768px)
			height auto
		h1.pull-left
			margin 0
			padding-left 0
			@media (max-width: 849px)
				float left
				text-align left
				padding-right 0
			a
				clearfix()
		@media (max-width: 849px)
			.container
				background-color rgba(#333, 0.5)
				height 100%
				.content h1
					color #FFF
					small
						color #FFF
						display block
						margin-top 15px
			.pull-right
				float right
		#menuToggle
			background transparent
			text-align right
			@media (max-width: 849px)
				width auto
		.content
			@media (min-width: 769px)
				margin 100px 0
			@media (max-width: 768px)
				margin 30px 0
			h1
				color #E6756F
				text-transform uppercase
				@media (min-width: 769px)
					font-size 56px
				@media (max-width: 768px)
					font-size 32px
				margin-bottom 0
				small
					color #8D8D8D
					clear both
					display block
					@media (min-width: 769px)
						font-size 26px
					@media (max-width: 768px)
						font-size 18px
					font-weight 300
					text-transform initial
			p.byline
				color #46C1DD
				font-size 24px
				@media (min-width: 769px)
					margin-top 80px
				@media (max-width: 768px)
					margin-top 30px
	.mapSection
		background-image url('../images/mapBG.png')
		background-position center center
		background-repeat no-repeat
		background-color #313436
		color #FFF
		margin-bottom 60px
		padding 200px 0
		position relative
		text-align center
		button.success, a.success
			background #59C77F
			border 1px solid transparent
			border-radius 3px
			color #FFF
			display inline-block
			font-size 16px
			letter-spacing 2px
			margin-top 20px
			padding 20px 40px
			text-decoration none
			text-transform uppercase
			height auto
			width auto
			&:hover, &:focus
				background darken(#59C77F, 15%)
		h1
			font-size 35px
			font-weight 100
			text-transform capitalize
		p
			font-size 22px
			font-weight 100
			margin-top 5px
		&:after
			position absolute
			bottom 0
			content ""
			left 0
			right 0
			height 15px
			background-image url('../images/gradient.gif')
			background-repeat repeat
	.bannerTwo
		background transparent
		i
			color #00B5D7
		button.success, a.success
			background #59C77F
			border 1px solid transparent
			border-radius 3px
			color #FFF
			display inline-block
			font-size 16px
			letter-spacing 2px
			text-decoration none
			margin-top 80px
			padding 20px 40px
			text-transform uppercase
			height auto
			width auto
			&:hover, &:focus
				background darken(#59C77F, 15%)
	.bannerThree
		background #F1F5F6
		padding 80px 0
		button.success, a.success
			background #59C77F
			border 1px solid transparent
			border-radius 3px
			color #FFF
			display inline-block
			font-size 16px
			letter-spacing 2px
			text-decoration none
			margin-top 20px
			padding 20px 40px
			text-transform uppercase
			height auto
			width auto
			&:hover, &:focus
				background darken(#59C77F, 15%)
		@media (max-width: 990px)
			h1.lined:after
				display none
		h1.lined
			margin-top 0
			text-align left
			&:after
				left 0
				top 55px
				margin-left 0
		p
			font-size 18px
			color #707070
			line-height 26px
			letter-spacing 1px
	.bannerFour
		background transparent
		padding 60px 0
		text-align center
		.churches
			h1
				color #00B5D7
				font-size 26px
				text-transform uppercase
				margin-bottom 10px !important
			p
				font-size 16px !important
				font-weight 100 !important
				line-height 24px
				color #313436
			img
				max-height 100%
			a.button
				background #59C77F
				border 0
				color #FFF
				cursor pointer
				font-size 16px
				padding 0 25px
				text-transform uppercase
				transition all 0.3s ease
				display inline-block
				width auto
				letter-spacing 0.15em
				&:hover
					background darken(#59C77F, 10%)
			.col
				padding 15px
		span.rounded
			border 2px solid
			border-radius 50%
			color #4F4F4F
			display inline-block
			overflow hidden
			padding 15px 0
			text-align center
			height 100px
			width 100px
			i
				font-size 60px
		p.byline
			color #E66477
			font-size 25px
			margin-bottom 5px
			font-weight 100
		h1
			margin-bottom 40px
			margin-top 0
			text-transform uppercase
			font-size 35px
		form.inline-form
			margin 80px 0 100px
		.col
			h1
				margin-bottom 0
				margin-top 20px
				text-transform uppercase
				small 
					display block
					font-weight 600		
					color #00B5D7
					font-size 14px
					margin-top 20px
				i
					color #4F4F4F
					font-size 48px
			p
				margin-top 0
				font-size 35px
				font-weight 300
			@media (min-width: 769px)
				&:nth-of-type(2)
					border-left 1px solid darken(#f1f5f6, 15%)
				&:nth-of-type(3)
					border-left 1px solid darken(#f1f5f6, 15%)
					border-right 1px solid darken(#f1f5f6, 15%)
