$font_primary = "Proxima Nova","proxima-nova","Helvetica","Arial",sans-serif
$font_titling = "proxima-nova-extra-condensed","Helvetica Neue","Helvetica","Arial",sans-serif
$font_slab = "Museo Slab","museo-slab","Helvetica Neue","Helvetica","Arial",sans-serif
$font_helvetica = "Helvetica Neue","Helvetica","Arial",sans-serif
$font_arial = "Arial",sans-serif
$font_monospace = "Courier New", "Courier",mono
$font_tisa = 'ff-tisa-web-pro', serif;

$color_text = #393d3e
$color_readable = #727272
$color_ghost = #313436
$color_highlight = #04b3ea
$color_highlight_alt = #017ea6
$color_link = #04b3ea
$color_orange = #ff5a00

$gutterWidth = 40px

// Make sure that this is an even number, It is frequently divided in half
$whiteSpace = 20px


// form widths
$form_line = 40px
$form_font = $font_primary
$form_fontSize = 14px
$form_borderColor = #dadada
$form_borderColor_focus = #a8a8a8
$form_textColor = #353535
$form_textColor_focus = #353535

// form placeholder
$form_placeholder_textColor = #c4c4c4
$form_placeholder_font = $font_primary

// form label
$form_label_font = $font_primary

// form errir
$form_error_textColor = #000
$form_error_bgColor = #ffa29e


// buttons
$button_bgColor = #a82d49
$button_textColor = #fff


// header
$header_link_color = #737373




// adaptive breaks


desktop = "only screen and (min-width: 700px) and (max-width: 1100px)"
desktop-small = "only screen and (min-width: 700px) and (max-width: 900px)"
desktop-wide = "only screen and (min-width: 1100px)"
// tablet = "only screen and (min-width: 1100px)"
// phone = "only screen and (min-width: 1100px)"