include ../../includes/sidebar

theme:template(title="About", name="_project")
  content
    #about(:load=":api(3.0).content(site/about-page) as project")
      div.banner.faq
        h1 About&nbsp;
          strong Save The Storks
          p.small Building the next wave of the pro-life movement.
        ul.tabs
          li(class='aboutLink', data-target='#mission') 
            a(href="index") Our Mission
          li(class='aboutLink', data-target='#team') 
            a(href="ourTeam-test") Our Uniqueness
          li(class='aboutLink', data-target='#story') 
            a(href="ourStory-test") Our Story
          li(class='aboutLink', data-target='#storks') 
            a(href="whyStorks-test") Our Name
          li(class='aboutLink', data-target='#staff') 
            a(href="ourStaff-test") Our Staff
          li(class='active aboutLink', data-target='#faq') FAQ
      div.container
        div.tabs
          .tab#faq
            .row
              .col.width-50.answers
                ul.faq
                  li(:load="project.relationships(faq) as question", :iterate="self", data-target='\#{question.id}') {question.content.question}
              .col.width-50.questions
                div.question(:load="project.relationships(faq) as question", :iterate="self", id='{question.id}')
                  strong {question.content.question}
                  p {question.content.answer}
          
      hr
      +footer
      +sidebar

