include ../../includes/sidebar

theme:template(title="About", name="_project")
  content
    #about(:load=":api(3.0).content(site/about-page) as project")
      div.banner.strategy
        h1 About&nbsp;
          strong Save The Storks
          p.small Building the next wave of the pro-life movement.
        ul.tabs
          li(class='aboutLink', data-target='#mission') 
            a(href="index") Our Mission
          li(class='active aboutLink', data-target='#team') Our Strategy
          li(class='aboutLink', data-target='#story') 
            a(href="ourStory-test") Our Uniqueness
          li(class='aboutLink', data-target='#storks') 
            a(href="whyStorks-test") Our Name
          li(class='aboutLink', data-target='#staff') 
            a(href="ourStaff-test") Our Staff
          li(class='aboutLink', data-target='#faq') 
            a(href="faq-test") FAQ
      div.container
        div.tabs
          .tab#team
            {project.content.ourteam}
            .row.team
              .col.width-33(:load="project.relationships(team,contacts) as contact", :iterate="self")
                .img: img(src="{contact.photo-url}/x:300/y:300")
                h1 {contact.name}
                  p {contact.organizationRole}
                p {contact.bio}
          .tab#board
            {project.content.ourboard}
            .row.team
              .col.width-33(:load="project.relationships(board,contacts) as contact", :iterate="self")
                .img: img(src="{contact.photo-url}/x:300/y:300")
                h1 {contact.name}
                  p {contact.organizationRole}
                p {contact.bio}

      hr
      +footer
      +sidebar

