include ../../includes/sidebar

theme:template(title="About", name="_project")
  content
    #about(:load=":api(3.0).content(site/about-page) as project")
      div.banner.uniqueness
        h1 About&nbsp;
          strong Save The Storks
          p.small Building the next wave of the pro-life movement.
        ul.tabs
          li(class='aboutLink', data-target='#design') 
            a(href="index") Stork Bus Design
          li(class='aboutLink', data-target='#specs') 
            a(href="ourTeam-test") Stork Bus Specs
          li(class='active aboutLink', data-target='#strat') Stork Bus Strategies
      div.container
        div.tabs
          .tab#specs
            {project.content.ourstory}
          
      hr
      +footer
      +sidebar


