include ../../includes/sidebar

theme:template(title="StorkWorks", name="_project")
  content
    .consulting(:load=":api(3.0).content(site.consulting) as partnership")
      .banner(style="background-image: url('{partnership.relationships(partnershipimage,attachments).first.version(,)}')")
        h1
          strong StorkWorks Consulting
          p.small(style="color: #FFF;") Strengthening Pregnancy Centers nationwide through high-impact consultation. 
        .tabs
          a(href='/stork-works') The Purpose
          a(href='/stork-works/partnership', class='active') The Partnership
          a(href='/stork-works/process') The Process
          a(href='/stork-works/product') The Product
      .container.thin
        {partnership.content.partnershipcontent}
      .consulting-footer: .container
        h1 Why Choose StorkWorks Consulting?
        .row.columns
          .col.width-33
            .img: img(src='assets://images/works-one.png')
            h2 A Biblical Base
            p StorkWorks follows Biblical principles in its consulting and planning. We use Scripture as our foundation and we trust in God for guidance. We pray for God’s insight and inspiration before, during, and after the completed process.
          .col.width-33.middle
            .img: img(src='assets://images/works-two.png')
            h2 A Proven Process
            p The Organizational GPS System™ utilized by StorkWorks Consulting is a proven process with a legacy of success. This system led countless organizations to increase their organizational effectiveness and amplify their reach and impact. 
          .col.width-33
            .img: img(src='assets://images/works-three.png')
            h2 Exceptional Expertise
            p StorkWorks’ process is an industrial-strength tool. We employ skillful operators with vast  educational credentials and a depth of experience in organizational leadership. 
      theme:embed(file="includes/side-nav")

