include ../../includes/sidebar

theme:template(title="StorkWorks", name="_project")
  content
    .consulting(:load=":api(3.0).content(site.consulting) as process")
      .banner(style="background-image: url('{process.relationships(processimage,attachments).first.version(,)}')")
        h1
          strong StorkWorks Consulting
          p.small(style="color: #FFF;") High-impact consultation that’s helping pregnancy centers<br>all over the nation increase their resources, reach, and impact.
        .tabs
          a(href='/stork-works') The Purpose
          a(href='/stork-works/partnership') The Partnership
          a(href='/stork-works/process', class='active') The Process
          a(href='/stork-works/product') The Product
      .container.thin
        p StorkWorks uses Amplify Consulting’s proprietary organizational GPS systemTM that works much like the GPS system in your car or on your smartphone. 
        table(cellspacing=15)
          tr(:load=":api(3.0).content(site.consulting).relationships(processcontent) as item", :iterate="self")
            td(style="width: 20%;"): img(src='{item.relationships(image,attachments).first.version(,)}')
            td: {item.content.body}
      .consulting-footer: .container
        h1 Why Choose StorkWorks Consulting?
        .row.columns
          .col.width-33
            .img: img(src='assets://images/works-one.png')
            h2 A Biblical Base
            p StorkWorks follows Biblical principles in its consulting and planning. We use scripture as our foundation and we trust in God for guidance. We pray for God’s insight and inspiration before, during, and after the process is over. 
          .col.width-33.middle
            .img: img(src='assets://images/works-two.png')
            h2 A Proven Process
            p The Organizational GPS System&trade; used by StorkWorks Consulting is a proven process with a legacy of success. It has helped countless organizations increase their organizational effectiveness and amplify their reach and impact. 
          .col.width-33
            .img: img(src='assets://images/works-three.png')
            h2 Exceptional Expertise
            p StorkWorks’ process is an industrial-strength tool, and it must be operated by a skillful operator. That’s why StorkWorks’ consultants have educational credentials and years of experience in organizational leadership. They know their stuff. 
      theme:embed(file="includes/side-nav")

